APPWRITE_MODE=auto
APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=
APPWRITE_API_KEY=
APPWRITE_DATABASE_ID=osdag
APPWRITE_COLLECTION_ID=files
APPWRITE_BUCKET_ID=files
APPWRITE_PORT=8080
PORT=8001
CORS_ORIGIN=http://localhost:5500
